# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Other
.metadata
bin/
tmp/
.svn/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
/losino.log
